// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"
spawn-at-startup "noctalia"
// Provides KWallet through the Secret Service compatibility interface.
spawn-at-startup "ksecretd"
spawn-sh-at-startup "swaybg -i ~/Pictures/Screensaver/shiolie.jpg -m fill"
// Replaced by Noctalia clipboard history.
// spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

// Start polkit
spawn-at-startup "/usr/libexec/kf6/polkit-kde-authentication-agent-1"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

overview {
  zoom 0.75
  // backdrop-color "#00000000"

  workspace-shadow {
    off
  }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshot/%Y.%m.%d-%H.%M.%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}
