@import 'colors.css';

* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: 'MesloLGS Nerd Font', monospace;
}

// Global Styles
.bar {
  background-color: var(--tn-bg-dark);
  color: var(--tn-fg);
  padding: 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider { 
  all: unset;
  color: var(--tn-blue);
}

.metric scale trough highlight {
  all: unset;
  background-color: var(--tn-red);
  color: var(--tn-fg);
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: var(--tn-bg-highlight);
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspaces button:hover {
  color: var(--tn-blue);
}

