/* Tokyo Night */
@import "tokens/colors.css";
@import "tokens/slider.css";
@import "tokens/widget.css";


* {
    font-family: "MesloLGS Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: #24283b;
    color: #c0caf5;
}
